<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>sensor chart</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <body style="overflow-y:hidden">
        <h1>Temp&SolarVoltage</h1>
        <div id="solar">
            <img src="/solar" width="600" height="405">
            </div>
        <div id="here"> again dynamic content <span id='off'>7</span></div>
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
        <script src="/static/js/test.js"></script>
        <script>
            $(document).ready(function(){
                var counter = 7;
            window.setInterval(function(){
             counter--;
              if(counter>=0){
                document.getElementById('off').innerHTML=counter;
              }
              if (counter===0){
                counter=7;
              }
            $("#solar").load(" #solar");
            }, 30000);
            });
        </script>

    </body>
</html>